# Python cache
__pycache__/
*.pyc

# Ignore the models created by the action
# We re-train them every time, so we don't need to
# store them in the repo.
trained_models/

# Ignore local data files (we use URLs now)
*.csv

# OS-specific files
.DS_Store

# IDE folders
.vscode/

# CatBoost log files
catboost_info/